

QMainWindow {
    background-color: #272c35;
}

QGraphicsView {
    /*#6b512b*/
    background-color: rgb(32, 37, 44);
    border: None;
}

QPushButton {
    background-color: #363d49;
    color: #8f99a8;
}
QPushButton:pressed {
    background-color: #20252c;
}
QPushButton:hover {
    background-color: #596475;
}

QSpinBox {
    background-color: #20252c;
    color: #8f99a8;
    /*border: 1px solid #363d49;*/
    padding-right: 2px;
    height: 22px;
}
QPlainTextEdit {
    background-color: #20252c;
    color: #8f99a8;
    border: none;
}
ResultLabel{
    color: #8f99a8;
}
ResultLabel:hover {
    color: #61a026;
    background-color: rgba(97, 160, 38, 20);
}

QGroupBox {
    color: #8f99a8;
    border: 1px solid #20252c;
    background-color: #20252c;
    border-radius: 6px;
    margin-top: 6px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    left: 7px;
    top: -3px;
    padding: 0px 5px 0px 5px;
}
